html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-image: url('../imgs/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* cursor: url(../imgs/circle.png), cell; */
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#start-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#middle-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#end-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.square-dude {
  position: absolute;
  bottom: 10vh;
  left: 200px;
  width: 100px;
  height: 100px;
  border: 3px solid white;
  background-color: red;
  z-index: 4;
  transform-origin: top right;
  transition: transform;
  transition-duration: 2s;
  transition-delay: 2s;
}

.instructions{
  background-color: rgba(255,255,255,.5);
  width: 25vw;
}

#block {
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}

.door {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
}

#exit {
  height: 30vh;
  width: auto;
}

.lever-test {
  background-image: url(../imgs/tree.jpg);
  background-position: top right;
  background-repeat: no-repeat;
}

.ground {
  background-color: saddlebrown;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  z-index: 5;
}

.grass-foreground, .grass-background{
  position: absolute;
  background-position: bottom;
  left: 0;
  bottom: 10vh;
  height: 50px;
  width: 100vw;
}

 .trees-foreground, .trees-background{
   position: absolute;
   background-position: bottom;
   left: 0;
   bottom: -10vh;
   height: 120vh;
   width: 100vw;
 }

.grass-foreground {
  background-image: url("../imgs/foreground-grass.png");
  z-index: 10;

}

.grass-background {
  background-image: url("../imgs/background-grass.png");
  z-index: 3;
}

.trees-background{
  background-image: url('../imgs/background-trees.png');
  background-repeat: repeat-x;
  z-index: -10;
}

.trees-foreground{
  pointer-events: none;
  background-image: url('../imgs/foreground-trees.png');
  z-index: -5;
}

.purpleDiv, .purple-gem-hotspot {
  position: absolute;
  z-index: -8;
  top: 50vh;
  right: 8vw;
  width: 2vw;
  height: 2vh;
}

#purpleGem{
  height: 3vh;
  width: 3vh;
}

.purple-gem-hotspot {
  z-index: 10;
}

.stone-tv {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.stone {
  width: 500px;
  z-index: 2;
}

.television {
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    width: 250px;
    border-radius: 10px;
    background-image: url(../imgs/tv-background.png);
    background-size: 1000px;
    background-position: top left;
    background-repeat: no-repeat;
}

.lever {
  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 30%;
  transform: rotateY(180deg) rotate(-30deg);
  transform-origin: bottom center;
  width: 50px;
  -webkit-transition: transform;
  -o-transition: transform;
  transition: transform;
  transition-duration: 1s;
}

.activeLever{
  transform: rotateY(180deg) rotate(-90deg);
}

.openPipe{
  height: 10vh;
  width: 8vh;
  position: absolute;
  left: -50%;
  bottom: 10vh;
  z-index: 20;
}
.wheel{
  height: 5vh;
  width: 5vh;
  position: absolute;
  left: -49%;
  bottom: 15vh;
  z-index: 21;
  transition: transform;
  transition-duration: 1s;
  transform: rotate(0);
}
.orangeDiv{
  height: 4vh;
  width: 4vh;
  position: absolute;
  left: -48%;
  bottom: 0;
}
#orangeGem{
  height: 3vh;
  width: 3vh;
  z-index: 19;
}
.sparkle{
  position: absolute;
  transform: translate(-1vh, -1vh) rotate(250deg);
  left: 0;
  height: 5vh;
  width: 5vh;
  opacity: 0;
  z-index: 18;
}
.purpleSparkle{
  display: none;
  position: absolute;
  transform: translate(-1vh, -1vh) rotate(250deg);
  top: 0;
  left: 0;
  height: 5vh;
  width: 5vh;
  z-index: 18;
}
.spinning{
  transform: rotate(360deg);
}

.door{
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.gemContainer {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  width: 125%;
  margin-bottom: 10px;
}
.gemContainer .gemDiv:first-child, .gemContainer .gemDiv:last-child{
  position: relative;
  top: 35px;
}

.vendingMachine{
  position: absolute;
  bottom: 10vh;
  left: 130vw;
}
.vendingContainer{
  position: absolute;
  bottom: 0;
  left: 0;
}

.numberDiv{
  position: absolute;
  height: 210px;
  width: 150px;
  top: 70px;
  left: 68px;
  display: flex;
  flex-wrap: wrap;
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 0 .6vh;
  font-size: 1.5rem;
}
.numbersDisplay{
  display: none;
  font-size: 50px;
  width: 300px;
  height: 100px;
  background-color: lightgray;
  border: 5px solid maroon;
  border-radius: 30px;
  transform: translateY(-500px);
}
.numbersShow{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blueDiv{
  display: none;
  position:absolute;
  bottom: 2vw;
  left: 7vw;
}
#blueGem{
  height: 2vw;
  width: 2vw;
}
.blueDiv .sparkle{
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.vortex{
  position: absolute;
  transform: scale(0);
  -webkit-transition: transform 3s;
  -o-transition: transform 3s;
  transition: transform 3s;
}

.big{
  transform: scale(3);
}
.end{
  transform: rotate(720deg) scale(0) translate(-30vh, 50vh);
}

.victory {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -100vh;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 100;
}
