html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-image: url('../imgs/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* cursor: url(../imgs/circle.png), cell; */
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#start-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#middle-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#end-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.square-dude {
  position: absolute;
  bottom: 10vh;
  left: 200px;
  width: 100px;
  height: 100px;
  border: 3px solid white;
  background-color: red;
  z-index: 4;
}

#block {
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}

.door {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
}

#exit {
  height: 30vh;
  width: auto;
}

.lever-test {
  background-image: url(../imgs/tree.jpg);
  background-position: top right;
  background-repeat: no-repeat;
}

.ground {
  background-color: saddlebrown;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  z-index: 5;
}

.grass-foreground, .grass-background{
  position: absolute;
  background-position: bottom;
  left: 0;
  bottom: 10vh;
  height: 50px;
  width: 100vw;
}

 .trees-foreground, .trees-background{
   position: absolute;
   background-position: bottom;
   left: 0;
   bottom: -10vh;
   height: 120vh;
   width: 100vw;
 }

.grass-foreground {
  background-image: url("../imgs/foreground-grass.png");
  z-index: 10;

}

.grass-background {
  background-image: url("../imgs/background-grass.png");
  z-index: 3;
}

.trees-background{
  background-image: url('../imgs/background-trees.png');
  background-repeat: repeat-x;
  z-index: -10;
}

.trees-foreground{
  background-image: url('../imgs/foreground-trees.png');
  z-index: -5;
}

#purpleGem{
  z-index: -8;
  position: absolute;
  top: 50vh;
  right: 20vw;
  width: 3vw;
  height: 3vh;
}

.stone-tv {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.stone {
  width: 500px;
  z-index: 2;
}

.television {
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    width: 250px;
    border-radius: 10px;
    background-image: url(../imgs/tv-background.png);
    background-size: 1000px;
    background-position: top left;
    background-repeat: no-repeat;
}

.lever {
  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 30%;
  transform: rotateY(180deg) rotate(-30deg);
  transform-origin: bottom center;
  width: 50px;
  -webkit-transition: transform;
  -o-transition: transform;
  transition: transform;
  transition-duration: 1s;
}

.activeLever{
  transform: rotateY(180deg) rotate(-90deg);
}

.openPipe{
  height: 10vh;
  width: 5vh;
  background-color: violet;
  position: absolute;
  left: -50%;
  bottom: 10vh;
  z-index: 20;
}
.wheel{
  height: 4vh;
  width: 4vh;
  background-color: purple;
  position: absolute;
  left: -49%;
  bottom: 15vh;
  z-index: 21;
  border-radius: 50%;
  border: 3px dashed black;
  transition: transform;
  transition-duration: 1s;
  transform: rotate(0);
}
.orangeDiv{
  height: 4vh;
  width: 4vh;
  position: absolute;
  left: -49%;
  bottom: 0;
}
#orangeGem{
  height: 3vh;
  width: 3vh;
  z-index: 19;
}
.sparkle{
  position: absolute;
  transform: translate(-1vh, -1vh) rotate(250deg);
  left: 0;
  height: 5vh;
  width: 5vh;
  opacity: 0;
  z-index: 18;
}
.spinning{
  transform: rotate(360deg);
}

.door{
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.gemContainer {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  width: 125%;
  margin-bottom: 10px;
}
.gemContainer .gemDiv:first-child, .gemContainer .gemDiv:last-child{
  position: relative;
  top: 35px;
}
